*{
    padding: 0;
    margin: 0;
}


h1{
    color:rgba(70,31,10,255);
    margin-bottom: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   color: rgb(90, 55, 30);
}
h4{
    font-size: 13px;
}
footer p{
    margin-bottom: 0px;
}
.title{
    font-size: 30px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1000;  
}
main{
    padding-top: 96px;
}
.btn{
    background-color: rgba(70,31,10,255);
}
#reservation-container{
    min-height: 100vh;
    background-color: rgba(219,119,5,255);
}
.reservation{
    
    height: 60vh;
}
#reservation-container footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
#logo{
    width: 70px;
    height: 70px;
}
.bgResto, footer{
    background-color: rgb(28 7 3);
}
.color1{
    color:rgba(219,119,5,255)
}
svg{
    color: white;
    width: 20px;
    height: 20x;
    
}
.menuAccueil{
    padding: 120px 10px;
}
.imagePre{
    width: 300px;
    height: 300px;
    background-color: rgb(238, 233, 224);
    border-radius: 50%;
    margin-bottom: 30px;

}
.imagePre:hover{
    opacity: 0.5;
}
.carousel-item>img{
    height: 670px;
    width: 100%;
}
.accueil-types{
    font-size: 18px;
    font-weight: bolder;
}
form{
    width:300px;
    
}
.logo2{
    height: 200px;
    width: 200px;
}
form{
    background-color:rgb (255,181,0) ;
}
/*------------formulaire----------*/
footer{
    border: 0.5px solid black;

    color:azure;
    position: relative;
    bottom: 0px;
  
}
.imageCarousel{
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    width: 100%;
}
.img2{
    background-position-y: bottom;
}
/*---Flex-Box---*/

h4{
    color: rgb(199, 152, 22);
}

footer{
    padding: 50px 0px;
}
@media screen and (max-width:  1000px){
    .imagePre{
        width: 200px;
        height: 200px;
    }
}